.drum-pad {
  /* background-color: #fd509c; */
  color: white;
  border-radius: 10px;
  /* transition: all 100ms; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2em;
  /* background-image: radial-gradient(circle, #0bb5ff, #0676ff); */
  /* background-image: radial-gradient(circle, #73d60a, #0bb80e); */
  background-color: #00b800;
  font-family: "Press Start 2P", cursive;
}

.drum-pad:hover {
  cursor: default;
}

.hit {
  /* background-color: orange; */
  /* background-color: #fd509c; */

  /* background-image: none; */
  /* background-color: #b8f818; */
  animation: fade-in-keyframes 0.5s;
}

@keyframes fade-in-keyframes {
  from {
    background-color: #b8f818;
  }
  to {
    background-color: #00b800;
  }
}
