@import "./variables.scss";

body {
  font-family: "Fredoka One", cursive;
  box-sizing: border-box;
  background-color: $appBgColor;
  margin: 0;
  padding: 5px;
  color: white;

  /* prevent text selection */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#drum-machine {
  /* center horizontally */
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  top: 10px;

  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 30px 30px repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: space-evenly;
  align-content: space-evenly;
  text-align: center;
  padding: 10px;

  max-width: 400px;
  width: calc(100vw - 20px);
  max-height: 500px;
  height: calc(100vh - 20px);

  background-color: $drumMachineBgColor;
  border-radius: 10px;
}

.title {
  grid-column-start: span 3;
  font-size: 1.7em;
  color: white;
}

#display {
  grid-column-start: span 3;
}

.display {
  margin: 0 auto;
  background-color: $displayBgColor;
  color: $displayFontColor;
  width: 75%;
  height: 100%;
  border-radius: 5px;
  font-size: 1.5em;
  overflow: hidden;
}
