@import "./variables.scss";

.drum-pad {
  color: $drumPadFontColor;
  background-color: $drumPadBgColor;
  font-size: 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drum-pad:hover {
  cursor: default;
}

.animating {
  animation: click-animation 300ms;
}

@keyframes click-animation {
  from {
    background-color: $drumPadPressed;
    box-shadow: 0 0 10px white;
  }
  to {
    background-color: $drumPadBgColor;
    box-shadow: none;
  }
}
