// $appBgColor: black;
// $drumMachineBgColor: #7c7c7c;
// $displayBgColor: #a4e4fc;
// $displayColor: #0000bc;
// $drumPadBgColor: #00b800;
// $drumPadColor: white;

// 2nd Attempt
// $appBgColor: #501f3a;
// $drumMachineBgColor: #14a098;
// $displayBgColor: #0f292f;
// $displayColor: #cccccc;
// $drumPadBgColor: #cb2d6f;
// $drumPadColor: #cccccc;
// $drumPadPressed: #dc3e7f;

// Attempt 3
// $appBgColor: #8d2d56;
// $drumMachineBgColor: #0d050e;
// $displayBgColor: #a3445d;
// $displayColor: #2b193e;
// $drumPadBgColor: #d53c3c;
// $drumPadColor: white;
// $drumPadPressed: #dc3e7f;

$appBgColor: #118c8b;
$drumMachineBgColor: #000d29;
$displayBgColor: #bca18d;
$displayFontColor: #000d29;
$drumPadBgColor: #f14d49;
$drumPadFontColor: white;
$drumPadPressed: #d6e681;
